body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: ghostwhite;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    padding-bottom: 0px;
}

h1, h2, h3 {
    margin: 10px 0px;
    font-weight: 300;
    color: #000;
}

hr {
   color: #fff !important;
}



[sucesso] {
    color: #FFF;
    background-color: #47af55;
}

[sucesso]:hover {
    background-color: #47af55aa;
}

[primario] {
    color: #FFF;
    background-color: #2392f0;
}

[primario]:hover {
    background-color: #2392f0aa;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .toast-info {
    background-color: #17a2b8; /* Azul */
    color: #fff;
  }


  .card-body {
    padding: 20px 50px 20px 50px;
    font-size: 14px;
    width: 50%;
  }
  
  .details-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    align-items: center;
  }
  
  .details-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  
  .details-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .details-label {
    font-weight: bold;
    color: #333;
  }
  
  .details-value {
    color: #555;
  }

  .btn-pdf, .btn-pdf:hover {
    color: #fa0f00;
  }
  
  .btn-excel, .btn-excel:hover {
    color: #10793f;
  }
  
  .buttons-report {
    font-size: 18px;
  }